GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
ENV = 
SESSION_SECRET=
MONGODB_URL=
PORT = 
JWT_SECRET= 
ACCESS_TOKEN_EXPIRY = 
REFRESH_TOKEN_EXPIRY = 
HOST = 
MAILGUN_API_KEY = 
MAILGUN_DOMAIN = 
BASE_URL = 